.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.app-content {
    overflow: auto;
    flex: 1;
    position: relative;
}

.navbar-status {
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: .5em;
}

.navbar-status-metrics, .navbar-status-actuators {
    width: .5em;
    height: 1em;
}
