.toggle-history-vis {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.toggle-history-vis canvas {
    max-width: 50em;
    height: 20em;
}
